<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Predial10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Predial10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!--<supportedRuntime version="v2.0.50727" sku=".NETFramework,Version=v2.0.50727"/></startup>-->
  <!--<supportedRuntime version="v2.0.50727"/></startup>-->
  <connectionStrings>
    <add name="predialchicoConnectionString" connectionString="server=localhost; User Id=root;password=root;database=predialchico"
      providerName="MySql.Data.MySqlClient" />
    <add name="Predial10.Properties.Settings.predialchicoConnectionString"
      connectionString="server=localhost;User Id=root;password=root;database=predialchico"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <userSettings>
    <Predial10.Properties.Settings>
      <setting name="linea_inicial_de_detalle_de_recibo" serializeAs="String">
        <value>280</value>
      </setting>
      <setting name="avance_de_linea_detalle_recibo" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="columna_de_importe" serializeAs="String">
        <value>650</value>
      </setting>
      <setting name="letra_detalle_recibo" serializeAs="String">
        <value>Microsoft sans serif</value>
      </setting>
      <setting name="tamano_letra_detalle_recibo" serializeAs="String">
        <value>9.75</value>
      </setting>
      <setting name="columna_de_concepto" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="grabarencobroexpress" serializeAs="String">
        <value>si</value>
      </setting>
      <setting name="timbrarprueba" serializeAs="String">
        <value>SI</value>
      </setting>
      <setting name="Rezago_urbano" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="Rezago_rustico" serializeAs="String">
        <value>361</value>
      </setting>
      <setting name="Rezago_ejidal" serializeAs="String">
        <value>362</value>
      </setting>
      <setting name="Recargos" serializeAs="String">
        <value>349</value>
      </setting>
      <setting name="Traslado" serializeAs="String">
        <value>303</value>
      </setting>
      <setting name="Recargosanteriores" serializeAs="String">
        <value>363</value>
      </setting>
      <setting name="Regimenfiscal" serializeAs="String">
        <value>603</value>
      </setting>
      <setting name="usuariomultifacturas" serializeAs="String">
        <value>MCH850101BW8</value>
      </setting>
      <setting name="passmultifacturas" serializeAs="String">
        <value>Predial@2018</value>
      </setting>
      <setting name="CertificadoCSD" serializeAs="String">
        <value>C:\\SDK2\\certificados\\CUAUTEPECBUENO.cer</value>
      </setting>
      <setting name="keyCSD" serializeAs="String">
        <value>C:\\SDK2\\certificados\\CUAUTEPECBUENO.key</value>
      </setting>
      <setting name="passCSD" serializeAs="String">
        <value>MDCH2021</value>
      </setting>
      <setting name="colorfactura" serializeAs="String">
        <value>Cafe</value>
      </setting>
    </Predial10.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Predial10.Properties.Settings>
      <setting name="Predial_10_WSCancelar_v4_Cancelar_cfdi_4_0_SAT"
        serializeAs="String">
        <value>http://pac1.multifacturas.com/cancelacion2022/index.php</value>
      </setting>
    </Predial10.Properties.Settings>
  </applicationSettings>
</configuration>