<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net45" />
  <package id="EPPlus" version="6.1.2" targetFramework="net45" requireReinstallation="true" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net45" requireReinstallation="true" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net45" requireReinstallation="true" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.8.7" targetFramework="net45" />
</packages>